.welcomeHeader {
  border: 5px solid rgb(255, 255, 255);
  color: rgb(204, 51, 204);
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  width: auto;
}

.navBar {
  border: 5px solid rgb(255, 255, 255);
  width: 35%;
}

.headerImages {
  border: 5px solid rgb(255, 255, 255);
  padding-top: 10px;
}

.Image1 {
  border: 5px solid rgb(255, 255, 255);
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Girassol', cursive;
  font-size: 25px;
  /* font-family: 'Open Sans', sans-serif; */
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  text-align: center;
}
